body{
    background-image: url("../images/dogs-breed-set/7213.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    font-weight: bolder; 
}

.jumbotron {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    background-color:rgba(227, 211, 185, 0.865);
}

.content {
    border: black;
    border-style: double;

    font-size: 20px;
    text-align: center;
    margin: auto;
    height: auto;
    width: 960px;
    background-color: rgba(255, 255, 255, 0.961);
}

html {
    scroll-behavior: smooth;
}

.footer {
    background-color: rgb(86, 86, 86);
    position: static;
    z-index: 2;
    width: 100%;
    height: 30px;
    top: -60px;
    left: 0;

    color: white;
    text-align: center;
}
